<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div id="container">
      <ion-avatar class="center-avatar">
        <img alt="Silhouette of a person's head" src="../../assets/img/zz.png" />
      </ion-avatar>
      <h1><strong>Akhmad Sofyan</strong></h1>
      <h4>Sosial Media</h4>
      <h5><ion-icon name="logo-instagram"></ion-icon><a href="https://www.instagram.com/coba_aja_ya_?igshid=MzMyNGUyNmU2YQ"         class="custom-link">Instagram</a></h5>
      <h5><ion-icon name="logo-tiktok"></ion-icon><a href="https://www.tiktok.com/@webabal?_t=8g0uHnD4LvW&_r=1" 
      class="custom-link">TikTok</a></h5>
      <p>Email : akhmad.sofyan@mhs.politala.ac.id</p>
      <p>Mahasiswa Politeknik Negeri Tanah Laut</p>
    </div>
  </ion-content>
  <link rel="stylesheet" type="text/css" href="profil.page.scss" rel="stylesheet" />
</ion-content>
