ion-avatar.center-avatar {
  display: block;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 25px;
  width: 100px;
  height: 100px;
}

#container {
  text-align: center;
}

ion-button {
  width: 150px;
  margin-top: 20px;
}
