<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong App Mobile></strong>
    <ion-avatar class="center-avatar">
      <img alt="Silhouette of a person's head" src="../../assets/img/zz.png" />
    </ion-avatar>

    <ion-button href="https://www.instagram.com/coba_aja_ya_?igshid=MzMyNGUyNmU2YQ" target="_blank">
      <ion-icon name="logo-instagram"></ion-icon>
      Instagram
    </ion-button>

    <ion-button href="https://www.tiktok.com/@webabal?_t=8g0uHnD4LvW&_r=1" target="_blank">
      <ion-icon name="logo-tiktok"></ion-icon>
      TikTok
    </ion-button>
  </div>

  <link rel="stylesheet" type="text/css" href="profil.page.scss" />
</ion-content>
